.app {
  min-height: 100vh;
  background: linear-gradient(135deg, #0a4bd6 0%, #005aff 100%);
  background-attachment: fixed;
  color: white;
  font-family: 'Inter', sans-serif;
  position: relative;
  overflow-x: hidden;
}

.app {
  position: relative;
  min-height: 100vh;

  background:
    url("/src/assets/random-shapes.svg") center / cover no-repeat,
    linear-gradient(135deg, #0a4bff 0%, #005aff 100%);
  
  background-blend-mode: soft-light;

  color: white;
  overflow-x: hidden;
}

